APP_PORT=5000
FRONTEND_URL=http://localhost:3000,http://localhost:3001 
DB_HOST=localhost
DB_USER=notroot
DB_PASSWORD=helloworld
DB_NAME=mvc_express
JWT_SECRET=iIzSecret
CRYPT_ROUNDS=12
CLOUDINARY_URL=cloudinary://666666666666:GGGGG-EEEEEEEEEEEEEEEEEEEEEEEEEEEEEE@jeremy